
    <!doctype html>
    <html ng-app="qApi">
    <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    </head>
    <body ng-controller="IndexController">
    <h1>{{message}}</h1>
    <!--<script src="app.js"></script>-->
    </body>
    </html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>

